In [10]:
import pandas as pd
df=pd.read_excel('student_data.xlsx')
print(df)

   Student Name  Roll No  Marks Grade
0          John      101     85     A
1          Emma      102     78     B
2          Liam      103     90     A
3           Ava      104     92     A
4          Noah      105     74     C
5        Olivia      106     88     A
6        Sophia      107     67     C
7       Jackson      108     80     B
8           Mia      109     93     A
9      Isabella      110     81     B
10        Lucas      111     76     C
11    Charlotte      112     85     A
12       Amelia      113     89     B
13        James      114     72     C
14       Harper      115     95     A

In [3]:
df=pd.read_csv('sample.csv')
print(df)

   Reg No      Name Dept
0       1  Santhosh   CT
1       2       Ram   IT
2       3     Kumar   PT
3       4     Ragul  ECE

In [12]:
print(df.head())

  Student Name  Roll No  Marks Grade
0         John      101     85     A
1         Emma      102     78     B
2         Liam      103     90     A
3          Ava      104     92     A
4         Noah      105     74     C

In [14]:
print(df.tail())

   Student Name  Roll No  Marks Grade
10        Lucas      111     76     C
11    Charlotte      112     85     A
12       Amelia      113     89     B
13        James      114     72     C
14       Harper      115     95     A

In [16]:
print(df.head(3))

  Student Name  Roll No  Marks Grade
0         John      101     85     A
1         Emma      102     78     B
2         Liam      103     90     A

In [18]:
print(df.tail(3))

   Student Name  Roll No  Marks Grade
12       Amelia      113     89     B
13        James      114     72     C
14       Harper      115     95     A

In [3]:
import pandas as pd
df=pd.read_excel('student_data.xlsx')
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Student Name  15 non-null     object
 1   Roll No       15 non-null     int64
 2   Marks         15 non-null     int64
 3   Grade         15 non-null     object
dtypes: int64(2), object(2)
memory usage: 612.0+ bytes
None

In [20]:
print(df.describe())

          Roll No     Marks
count   15.000000  15.00000
mean   108.000000  83.00000
std      4.472136   8.40068
min    101.000000  67.00000
25%    104.500000  77.00000
50%    108.000000  85.00000
75%    111.500000  89.50000
max    115.000000  95.00000

In [22]:
print(df.describe(include='object'))

       Student Name Grade
count            15    15
unique           15     3
top            John     A
freq              1     7

In [24]:
print(df['Grade'].describe())

count     15
unique     3
top        A
freq       7
Name: Grade, dtype: object

In [26]:
print(df['Marks'].describe())

count    15.00000
mean     83.00000
std       8.40068
min      67.00000
25%      77.00000
50%      85.00000
75%      89.50000
max      95.00000
Name: Marks, dtype: float64

In [28]:
print(df.nunique())

Student Name    15
Roll No         15
Marks           14
Grade            3
dtype: int64

In [32]:
print(sorted(df['Student Name'].unique()))

['Amelia', 'Ava', 'Charlotte', 'Emma', 'Harper', 'Isabella', 'Jackson', 'James', 'John', 'Liam', 'Lucas', 'Mia', 'Noah', 'Olivia', 'Sophia']

In [44]:
print(df.groupby('Grade')['Marks'].describe())

       count       mean       std   min    25%   50%   75%   max
Grade
A        7.0  89.714286  3.903600  85.0  86.50  90.0  92.5  95.0
B        4.0  82.000000  4.830459  78.0  79.50  80.5  83.0  89.0
C        4.0  72.250000  3.862210  67.0  70.75  73.0  74.5  76.0

In [48]:
grouped = df.groupby('Grade')
print(grouped.size())

Grade
A    7
B    4
C    4
dtype: int64

In [50]:
print(grouped.size())

Grade
A    7
B    4
C    4
dtype: int64

In [40]:
print(grouped.get_group('A'))

   Student Name  Roll No  Marks Grade
0          John      101     85     A
2          Liam      103     90     A
3           Ava      104     92     A
5        Olivia      106     88     A
8           Mia      109     93     A
11    Charlotte      112     85     A
14       Harper      115     95     A

In [42]:
print(grouped['Marks'].agg(['count', 'max', 'min']))

       count  max  min
Grade
A          7   95   85
B          4   89   78
C          4   76   67